<div [formGroup]="loginForm">
  Username <br />
  <input formControlName="username" /><br />
  <br />
  Password <br />
  <input formControlName="password" /><br />
  <br />
  <button (click)="login()">Login</button>
</div>


<div [formGroup]="bookForm">
  Title <br />
  <input formControlName="title" /><br />
  <br />
  Author <br />
  <input formControlName="author" /><br />
  <br />
  <button (click)="addBook()">Add Book</button>
</div>

<div>
  <div>Book total: {{ bookTotal$ | async }} </div>
  <div *ngFor="let book of books$ | async">
    {{book.title}} - {{book.author}} <button (click)="removeBook(book.id)">Remove Book</button>
  </div>
</div>